body {
  background-color: #181818;
  color: #ccc;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 0.9rem;
  font-size: normal;
  line-height: 1.5rem;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,Bitstream Vera Sans Mono, Courier New, monospace, serif;
  word-wrap: break-word;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
    cursor: pointer;
    color: #ff2e88;
    text-decoration: none;
    border-bottom: 1px solid #ff2e88;
}
a:hover {
    background-color: #ff2e88;
    color: #fff;
}
li {
  position: relative;
  display: block;
  padding-left: 20px;
}
li::after {
  position: absolute;
  top: 0;
  left: 0;
}
* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

/* Mobile styles */
@media (max-width: 768px) {
    body {
      padding-left: 2%; 
      padding-right: 2%;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    #in-acc {
      font-size: 1.2rem;
    }
  }
  